*{
  padding: 0;
  margin: 0;
  background-size: cover;
}
body{
  background-image: url(./images/img1.jpg);
  font-family: 'Oswald', sans-serif;
  font-family: 'Parisienne', cursive;
}
.header{
  background:#ffffff;
  margin: 10px;
}
.divLeft{
width: 15%;
float: left;
padding: 20px;
}
.divLeft h3{
  font-family: 'Parisienne', cursive;
  font-size: 35px;
  position: absolute;
  top: 38px;
  left:65px;
  z-index: 3;
}
.divLeft h1{
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  color: #ecc6c6;
  position: relative;
}
.greeting{
  color: #ecc6c6;
  font-size: 50px;
}
.divCenter{
  width: 40%;
  float: left;
  margin: 20px;
}
.displayTime{
float: left;
font-size: 30px;
border-bottom: 2px solid #ecc6c6;
margin-bottom: 20px;
}
.divRight{
  width: 30%;
  font-family: 'Parisienne', cursive;
  font-size: 35px;
  text-decoration: underline;
  text-decoration-color: #ecc6c6;
  text-align: center;
  margin-top: 50px;
  float: right;
}
.clear{
  clear: both;
}
.main{
  background-size: cover;
  display: flex;
  justify-content: center;
}
.title{
  font-size: 20px;
  width: 400px;
  height: 50px;
  display: block;
  border: none;
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
}
.note{
  font-size: 15px;
  display: block;
  width: 400px;
  height: 50px;
  border: none;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}
.btn{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border:2px solid #ecc6c6 ;
  color: #ffffff;
  background: #ecc6c6 ;
  position: absolute;
  bottom: 57%;
  left: 61%;
  
}
.btn:hover{
  cursor: pointer;
  background: #ffffff;
  color: #ecc6c6 ;
}
.mainnote{
  background: #ffffff;
  width: 18.5%;
  padding: 20px;
  margin: 20px;
  margin-top: 50px;
  overflow: auto;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  float: left;
}
.mainnote h1{
  text-decoration: underline;
  text-decoration-color:#ecc6c6 ;
  margin: 10px;
}
.delete{
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 50%;
  border:2px solid #ecc6c6 ;
  color: #ffffff;
  background: #ecc6c6 ;
  margin-left: 80%;
}
.delete:hover{
  cursor: pointer;
  background: #ffffff;
  color: #ecc6c6 ;
}
.footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: white;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.title{
  outline: none;
  box-shadow: none;
}
.title, .note{
  cursor: pointer;
}
.note{
  outline: none;
  box-shadow: none;
}
.delete:focus{
  outline: none;
  box-shadow: none;
}
@media only screen and (max-width: 600px){
  .divCenter{
    width: 70%;
  }
  .divLeft{
    width: 100%;
  }
  .divRight{
    width: 100%;
  }
  .main{
    width: 100%;
    text-align: center;
  }
  .title{
    width: 100%;
  }
  .note{
    width: 100%;
  }
  .btn{
    position: static;
    margin: 10px;
  }
  .mainnote{
    width: 80%;
    margin: 10px;
  }
  .footer{
    position: static;
  }

}